<div class="row">
  <div class="col-md-12">
    <h2> Order Detail <br>
      <small> <%= link_to("Order Link", order_url(@order.token)) %> </small>
     </h2>

    <table class="table table-bordered">
      <thead>
          <tr>
              <th width="70%"> Product Detail </th>
              <th> Price</th>
              <th> Quantity </th>
              <th> Subtotal</th>
          </tr>
      </thead>
      <tbody>
          <% @product_lists.each do |product_list| %>
            <tr>
                <td> <%= product_list.product_name %> </td>
            </tr>
            <tr>
                <td> <%= product_list.product_price %> </td>
            </tr>
            <tr>
                <td> <%= product_list.quantity %> </td>
            </tr>
            <tr>
                <td> <%= product_list.quantity * product_list.product_price %> </td>
            </tr>
          <% end %>
      </tbody>
    </table>

    <div class="price clearfix pull-right">
      <h4>
        Total <%= @order.total %>
      </h4>
    </div>

    <hr>

    <table class="table table-striped table-bordered">
      <tbody>
          <tr>
            <td> Purchaser</td>
          </tr>
          <tr>
            <td> <%= @order.billing_name %> - <%= @order.billing_address %> </td>
          </tr>
          <tr>
              <td> Receiver </td>
          </tr>
          <tr>
              <td> <%= @order.shipping_name %> - <%= @order.shipping_address %> </td>
          </tr>
      </tbody>
    </table>

  </div>
</div>
