<h1> Edit Product</h1>

<%= simple_form_for [:admin, @product] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :quantity %>
<%= f.input :price %>

<% if @product.image.present? %>
  <%= image_tag(@product.image.thumb.url) %>
<% end %>

<%= f.input :image, as: :file %>

<%= f.submit "Update", class: "btn btn-success" %>

<% end %>
